@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", system-ui, sans-serif;
  @apply bg-gray-900 text-gray-100 antialiased;
}
